*.csproj
*.sln

.vs/
/Library/
/Logs/
/Temp/
/obj/
/AssetBundle/
/readwrite/

/ProjectSettings/XRSettings.asset
/ProjectSettings/Packages/*

/Assets/0_Test/
/Assets/0_Test.meta
/Assets/StreamingAssets/AssetBundle
/Assets/StreamingAssets/AssetBundle.meta
/Assets/StreamingAssets/TableData
/Assets/StreamingAssets/TableData.meta
/Assets/StreamingAssets/build_info.txt
/Assets/StreamingAssets/build_info.txt.meta
/Assets/_TerrainAutoUpgrade/
/Assets/_TerrainAutoUpgrade.meta
/Assets/Temp/
/Assets/Temp.meta

/Effect/BlackList_*.txt
/Effect/

/Assets/3rd-Party/DynamicLoader/Varanits.meta
/Assets/Plugins/3rd-Party-Plugins/MeshTerrainEditor
/Assets/Plugins/3rd-Party-Plugins/MeshTerrainEditor.meta
/Assets/csc.rsp.meta

/Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset
/Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset.meta

/Tableex/TConfiger/ConfigAnnotation/bin
/Tableex/TConfiger/TConfiger/bin
/Tableex/TConfiger/DataSource/bin
/Tableex/TableTest/Tableex/TConfiger/TConfiger/bin
/Tableex/TableTest/Tableex/TConfiger/ConfigAnnotation/bin
/Tableex/TableTest/Tableex/TConfiger/DataSource/bin
/Tableex/TableDefine/Config.ClientAndServer/bin
/Tableex/TableDefine/Config.ClientAndServer/obj
/Tableex/Tools/TConfigerPackOne.pdb
/Tableex/Tools/ConfigAnnotation.pdb
/Tableex/Tools/TConfiger.pdb
/Tableex/xLua/build/Output/xlua.dir
/Tableex/xLua/build/Output/Debug
/Tableex/xLua/build/Output/x64
/Tableex/xLua/build/Output/CMakeFiles

obj

/Assets/InitTestScene*.unity
/Assets/InitTestScene*.unity.meta

.idea/
rex_wwise/

!/Assets/DL/Obj
/Assets/ResourceBackUp/ShaderVariantCollection_temp.shadervariants
/readwrite/*.log
/HotUpdate/Temp
/UserSettings/EditorUserSettings.asset
/UserSettings/EditorUserSettings.asset

/Assets/Editor/ArtUtilities*
/Assets/Scripts/ArtUtilities*

/PVS/Temp
/InstallTime*